@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Noto+Sans|Open+Sans:400,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #e1e1e1e1;
}
.container{
  position: relative;
  width: 400px;
  margin-left: 65vh;
  margin-top: -6vh;
  padding: 55px 40px;
  border-radius: 10px;
}
header{
  font-size: 40px;
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
}
.input-field, form .button{
  margin: 25px 0;
  position: relative;
  height: 50px;
  width: 100%;
}
.input-field input{
  height: 100%;
  width: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 19px;
  transition: .4s;
}
input:focus{
  border: 1px solid #1DA1F2;
}
.input-field label, span.show{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.input-field label{
  left: 15px;
  pointer-events: none;
  color: grey;
  font-size: 18px;
  transition: .4s;
}
span.show{
  right: 20px;
  color: #111;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  visibility: hidden;
  font-family: 'Open Sans', sans-serif;
}
input:valid ~ span.show{
  visibility: visible;
}
input:focus ~ label,
input:valid ~ label{
  transform: translateY(-33px);
  background: white;
  font-size: 16px;
  color: #00dbde;
}
form .button{
  margin-top: 30px;
  overflow: hidden;
  text-decoration: none;
  z-index: 111;
}
.button .inner{
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  z-index: -1;
  transition: all .4s;
  background: -webkit-linear-gradient(right,#00dbde,#fc00ff,#00dbde,#fc00ff);
}
.button:hover .inner{
  left: 0;
}
.button button{
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}


/*Login End Not Touched  Harish Code strated*/

.tog a{
  width: 150px;
  padding: 12px;
  background-color: darkblue;
  background-color: lightgray;
  color: white;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
}
.tog a:hover{
  background: blue;
}
/*Toggle End*/
/*Navbar end*/
.card{
    width: 90vw;
    height: 80vh;
    border-radius: 5px;
    background-color: white;
}
.nav{
    width: 100%;
    height: 10vh;
    display: block;
    /* background: lightgray; */
    border-bottom: 2px solid lightgray;
}
.nav ul{
    width: 95vw;
    height: 10vh;
    text-align: left;
    margin-left: 0
}
.nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 3vh;
  height: 10vh;
  transition: all .3s  ease-in-out;
}
.nav ul li:hover{
  background: lightgray;
  border-bottom: 2px solid black;
}
.nav a{
  /* font-size: ; */
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s ease;
}
/*Navbar end*/
/*Registration starts*/
/*personal-info starts*/
.box{
  width: 50vw;
  height: 70vh;
  margin-left: 6;
  margin-top: 0;
  border-radius: 0;
  border-right: 3px solid black;
  background-color: gray;
}
.fil{
  display: inline;
  width: 55vw;
  height: 50vh;
  margin-left: 0;
}
/*PERSONAL-INFO END*/
/*UPLOAD FILES*/
.scsc{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.need{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vh;
  /* width: 85vw; */
  height: 72vh;
  margin-top: -4vh;
}
.feed{
  margin-left: -7rem;
  padding: 10px;
  margin-top: 0;
  /* align-items: center; */
  display: inline-flex;
  justify-content: center;
  gap: 1rem;
}
.fed{
  margin-left: -7rem;
  padding: 10px;
  margin-top: 0;
  /* align-items: center; */
  display: inline-flex;
  justify-content: center;
  gap: 2.5rem;
  cursor: pointer;
}
/*UPLOAD FILES END*/
#dod{
  background-color: #e1e1e1e1;
}